{% extends "base.html" %}

{% block content %}

<style>
.reveal-overlay {
    background-color: rgba(10, 10, 10, 0.74);

}
    </style>
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
<script>
//---------------------------------------------------
//Firebase Setup
//---------------------------------------------------
  var config = {
    // apiKey: "<API_KEY>",
    // authDomain: "<PROJECT_ID>.firebaseapp.com",
    databaseURL: "https://freedom-torch.firebaseio.com",
    // storageBucket: "<BUCKET>.appspot.com",
    // messagingSenderId: "<SENDER_ID>",
  };
  firebase.initializeApp(config);
  //---------------------------------------------------

  var uid;
  var friends;


function callFirebase(facebookid)
{
  var urlParams = new URLSearchParams(window.location.search);
  var score = urlParams.get('score');

  setUser(score);

}


  function setUser(score) {
    FB.api('/me', function(response) {
      var user = {fbid: response.id, score: score, name: response.name, createdAt: Date.now()}

      var newUserKey = firebase.database().ref().child('v1/users').child(response.id).update(user).key;

      setTimeout(function(){
          window.location = "me";
      },1000)


    });
  }



  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    //console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      console.log("Redirecting to dashboard",response);
      uid = response.authResponse.userID;
      callFirebase(uid);



    } else if (response.status === 'not_authorized') {
      console.log("Need to verify app");
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      console.log("Need to Login");
      $('#welcomeModal').foundation('open');
      //need to login buddy
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '352487305143664',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });


  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }



</script>


<div id="dashboard" class="content" >

  <body >
    <div class="row">
      <div class="large-12 columns titleWrapper">
        <h1 class='title text-center'>Freedom Torch</h1>
      </div>
    </div>

    <div class="row">

      <div class="large-6 medium-4 columns">

        <div class="row">
          <div class="large-12 medium-6 columns torchWrapper">
            <h5 id="name" >Log in to see this</h5>
              <img src="/img/torch.png" id='torch' />
          </div>
        </div>

        <!-- What is this? -->
        <div class="row">
          <div class="large-12 medium-6 columns ">
            <h5>&nbsp;</h5>
            <h5>Lighting a path of knowledge & compassion</h5>
              <p>
                We believe our nation has been scientifically divided into
                two halves that hold beliefs so strong, they are unwilling
                to open up to the possibility of something new. This belief
                has been called a <a href="http://www.ted.com/talks/eli_pariser_beware_online_filter_bubbles" target="_blank">filter bubble</a>
                and it creates a lens through which all new information is judged.
                <br><br>
                Please come back as we develop more games that aim to expand basic
                civic knowledge and challenge players to engage with friends at
                polar ends of the spectrum. If you would like to get more involved,
                please check out the following links.
                <br><br>
                <a href="https://github.com/sweeneyp74/FreedomTorch">Github</a>
                <br>
                <a href="https://www.facebook.com/freedomtorch11/?fref=ts">Facebook</a>
                <br>

                <br>
              </p>
          </div>
        </div>

      </div>

      <div class="large-6 medium-8 columns">
        <h1 class='title'>Your friends' torches</h1>
        <div id="friends"></div>
      </div>
      <div class="fb-share-button" data-href="https://freedomtorch.co" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffreedomtorch.co%2F&amp;src=sdkpreparse">Challenge your friends</a></div>

    </div>


    <div style="border: solid 4px black" class="reveal" id="welcomeModal" data-close-on-esc="false" data-close-on-click="false" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
      <p style="font-size: 205%;" class='lead text-center'>YOU UNLOCKED YOUR <br><span style="color: #fb9d4d">TORCH</span></p>
      <p>
        The goal with Freedom Torch is to grow your flame. We planned a bunch
        of fun exercises that let you grow your flame by demonstrating your
        civic knowledge and ability to see other people's perspective.
        <br><br>
        Please connect with facebook to see how big your inital flame is.
      </p>


      <fb:login-button id="login-but" data-size="xlarge" scope="public_profile,email,user_friends" onlogin="checkLoginState();"></fb:login-button>




    </div>



</div>


{% endblock %}
